@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  src: url("../public/fonts/dragna.ttf") format(truetype);
  font-family: "Dragna";
}

@font-face {
  src: url("../public/fonts/amenti-light.ttf") format(truetype);
  font-family: "Amenti Light";
}

@font-face {
  src: url("../public/fonts/amenti-vf.ttf") format(truetype);
  font-family: "Amenti VF";
}

@font-face {
  src: url("../public/fonts/amenti-medium.ttf") format(truetype);
  font-family: "Amenti Medium";
}

@font-face {
  src: url("../public/fonts/amenti-bold.ttf") format(truetype);
  font-family: "Amenti Bold";
}

@font-face {
  src: url("../public/fonts/amenti-black.ttf") format(truetype);
  font-family: "Amenti Black";
}

@layer utilities {
  html {
    @apply box-border overflow-x-hidden scroll-smooth scrollbar-thin scrollbar-track-dark-blue scrollbar-thumb-dark-pink;
  }

  body {
    @apply m-0 h-full w-full overflow-x-hidden bg-dark-blue p-0 text-text-pink;
    font-family: "Amenti VF", Arial, Helvetica, sans-serif;
  }

  fieldset label {
    @apply uppercase;
  }

  .dragna {
    @apply uppercase;
    font-family: "Dragna", Arial, Helvetica, sans-serif;
  }

  .amenti-light {
    font-family: "Amenti Light", Arial, Helvetica, sans-serif;
  }

  .amenti-medium {
    font-family: "Amenti Medium", Arial, Helvetica, sans-serif;
  }

  .amenti-bold {
    font-family: "Amenti Bold", Arial, Helvetica, sans-serif;
  }

  .amenti-black {
    font-family: "Amenti Black", Arial, Helvetica, sans-serif;
  }

  .flex-col-center {
    @apply flex flex-col items-center justify-center;
  }

  .flex-row-center {
    @apply flex flex-row items-center justify-center gap-4;
  }

  /* SKEW AND UNSKEW */

  .skew {
    @apply inline-block -skew-x-[20deg];
  }

  .unskew {
    @apply inline-block skew-x-[20deg];
  }

  /* BACKGROUNDS */

  .bg-display {
    @apply grid grid-cols-1 bg-cover bg-no-repeat md:grid-cols-2 md:px-0 md:pl-[10%];
  }

  .bg-hero {
    @apply bg-display bg-hero-bg-mobile place-content-end md:place-content-center py-[50%] md:bg-hero-bg-desktop h-0 md:py-[19.53125%];
  }

  .bg-bloodwork {
    @apply bg-display bg-bloodwork-bg-mobile xs:py-[51.18694362017804%] md:py-4 px-[10vw] md:bg-bloodwork-bg-desktop xs:h-0 md:h-fit xl:h-0 xl:py-[20.546875%] place-content-center;
  }

  /* PLANS DISPLAY */

  .plan-display {
    @apply flex-col-center container mx-auto w-full pb-8;
  }

  .plan-type-headline {
    @apply dragna skew mx-[10%] w-[80%] py-2 text-center text-3xl md:py-4 md:text-5xl lg:text-6xl 2xl:text-8xl;
  }

  .plan-type-subheadline {
    @apply amenti-light mx-[10%] my-4 text-center text-[0.7em] uppercase tracking-widest text-lighter-pink md:text-xl 2xl:my-8 2xl:text-2xl;
  }

  .blue-bg_pink-text {
    @apply bg-light-blue text-light-pink;
  }

  .pink-bg_white-text {
    @apply bg-dark-pink text-white;
  }

  .coaching-cards-display {
    @apply flex-col-center md:flex-row-center gap-4;
  }

  .cards-display {
    @apply gap-4 py-8;
  }

  .cards-display-row {
    @apply md:flex-row-center cards-display;
  }

  .cards-display-col {
    @apply md:flex-col-center cards-display;
  }

  /* PLAN SELECTORS */

  fieldset {
    @apply md:flex-row-center grid grid-cols-2 gap-4 pb-8;
  }

  .plan {
    @apply flex-col-center cursor-pointer px-4 py-2 text-xl lg:h-[48px] lg:w-[200px] lg:text-2xl 2xl:h-[72px] 2xl:w-[271px] 2xl:text-3xl;
  }

  .selected-plan {
    @apply amenti-black plan bg-light-pink text-light-blue;
  }

  .unselected-plan {
    @apply hover:selected-plan plan bg-light-blue text-light-pink transition-all duration-300 ease-in-out;
  }

  /* PLAN CARDS */

  .gradient-border {
    @apply absolute h-full w-full p-1;
  }

  .bg-coaching-card {
    @apply relative h-[480px] w-[320px] rounded-3xl md:h-[482px] md:w-[364px] 2xl:h-[727px] 2xl:w-[694px];
  }

  .bg-one-time-card {
    @apply relative mx-auto h-[440px] w-full bg-gradient-to-b from-dark-pink to-light-blue xs:w-[320px] md:mx-0 md:h-[240px] md:w-[768px] 2xl:w-[1324px];
  }

  .bg-contest-prep-card {
    @apply relative mx-auto h-[460px] w-full bg-gradient-to-b from-dark-pink to-light-blue xs:w-[320px] md:mx-0 2xl:h-[648px] 2xl:w-[508px];
  }

  .coaching-card {
    @apply absolute m-[5%] flex h-[90%] w-[90%] flex-col items-center justify-between rounded-3xl border border-white py-[5%] text-center;
  }

  .one-time-card {
    @apply flex h-full w-full flex-col items-center justify-around bg-lighter-pink text-center text-dark-pink md:flex-row;
  }

  .contest-prep-card {
    @apply flex h-full w-full flex-col items-center justify-around text-center text-dark-pink;
  }

  .card-headline {
    @apply dragna text-3xl md:text-5xl 2xl:text-6xl;
  }

  .card-subheadline {
    @apply amenti-bold text-2xl uppercase tracking-widest 2xl:text-5xl;
  }

  .card-bullets {
    @apply flex-col-center list-disc 2xl:text-2xl;
  }

  .card-price {
    @apply amenti-bold text-5xl md:text-6xl 2xl:text-8xl flex flex-row justify-center gap-1;
  }

  .card-discount {
    @apply flex-col-center;
  }

  /* ABOUT */

  .bg-about {
    @apply relative h-[320px] w-auto pt-4 sm:h-[350px] lg:h-[656px] 2xl:h-[820px];
  }

  .about-separator {
    @apply h-3 w-full bg-about-separator hidden md:block mt-8;
  }

  .about-card {
    @apply;
  }

  .about-icons {
    @apply h-8 w-auto;
  }

  /* VARIOOOOOOOOS */

  .footer {
    @apply px-[10vw] flex-col-center w-full gap-8 bg-lighter-pink py-8 text-center text-light-blue 2xl:text-2xl;
  }

  .footer-separator {
    @apply h-1 w-full rounded bg-dark-pink;
  }

  .clickable {
    @apply cursor-pointer transition-all duration-300 ease-in-out hover:scale-110;
  }

  .social-icon-footer {
    @apply h-6 w-auto clickable;
  }

  .slick-slide {
    @apply box-border px-2;
  }

  .navbar {
    @apply fixed md:absolute left-0 top-0 flex w-full items-center justify-around bg-black/60 text-white 2xl:py-4;
  }

  .nav-item {
    @apply w-full text-white 2xl:text-2xl;
  }

  .logo {
    @apply h-auto w-24 md:w-32 2xl:w-40;
  }
}

.on-sale-flag {
  animation: gradient 5s ease infinite;
  -webkit-animation: gradient 5s ease infinite;
  -moz-animation: gradient 5s ease infinite;
  background: linear-gradient(to bottom, #ff61ad, #1e4878);
  background-size: auto 300%;
}

@keyframes gradient {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

.slick-dots li button:before {
  opacity: 1 !important;
  color: #ffedf7 !important;
}

.slick-dots li.slick-active button:before {
  opacity: 1 !important;
  color: #ff61ad !important;
}

.slick-arrow:before {
  background: transparent !important;
  color: #ffcfea !important;
}

.modal-scrollbar::-webkit-scrollbar-track {
  border-radius: 0 15px 15px 0;
}

.modal-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 0 15px 15px 0;
}

.modal-scrollbar:hover::-webkit-scrollbar-thumb {
  border-radius: 0 15px 15px 0;
}

/* FIREWORKS ANIMATION FOR NEW YEARS SALE MODAL */

.pyro > .before,
.pyro > .after {
  position: absolute;
  -moz-animation:
    1s bang ease-out infinite backwards,
    1s gravity ease-in infinite backwards,
    5s position linear infinite backwards;
  -webkit-animation:
    1s bang ease-out infinite backwards,
    1s gravity ease-in infinite backwards,
    5s position linear infinite backwards;
  -o-animation:
    1s bang ease-out infinite backwards,
    1s gravity ease-in infinite backwards,
    5s position linear infinite backwards;
  -ms-animation:
    1s bang ease-out infinite backwards,
    1s gravity ease-in infinite backwards,
    5s position linear infinite backwards;
  animation:
    1s bang ease-out infinite backwards,
    1s gravity ease-in infinite backwards,
    5s position linear infinite backwards;
  box-shadow:
    -120px -218.66667px blue,
    248px -16.66667px #00ff84,
    190px 16.33333px #002bff,
    -113px -308.66667px #ff009d,
    -109px -287.66667px #ffb300,
    -50px -313.66667px #ff006e,
    226px -31.66667px #ff4000,
    180px -351.66667px #ff00d0,
    -12px -338.66667px #00f6ff,
    220px -388.66667px #99ff00,
    -69px -27.66667px #ff0400,
    -111px -339.66667px #6200ff,
    155px -237.66667px #00ddff,
    -152px -380.66667px #00ffd0,
    -50px -37.66667px #00ffdd,
    -95px -175.66667px #a6ff00,
    -88px 10.33333px #0d00ff,
    112px -309.66667px #005eff,
    69px -415.66667px #ff00a6,
    168px -100.66667px #ff004c,
    -244px 24.33333px #ff6600,
    97px -325.66667px #ff0066,
    -211px -182.66667px #00ffa2,
    236px -126.66667px #b700ff,
    140px -196.66667px #9000ff,
    125px -175.66667px #00bbff,
    118px -381.66667px #ff002f,
    144px -111.66667px #ffae00,
    36px -78.66667px #f600ff,
    -63px -196.66667px #c800ff,
    -218px -227.66667px #d4ff00,
    -134px -377.66667px #ea00ff,
    -36px -412.66667px #ff00d4,
    209px -106.66667px #00fff2,
    91px -278.66667px #000dff,
    -22px -191.66667px #9dff00,
    139px -392.66667px #a6ff00,
    56px -2.66667px #0099ff,
    -156px -276.66667px #ea00ff,
    -163px -233.66667px #00fffb,
    -238px -346.66667px #00ff73,
    62px -363.66667px #0088ff,
    244px -170.66667px #0062ff,
    224px -142.66667px #b300ff,
    141px -208.66667px #9000ff,
    211px -285.66667px #ff6600,
    181px -128.66667px #1e00ff,
    90px -123.66667px #c800ff,
    189px 70.33333px #00ffc8,
    -18px -383.66667px #00ff33,
    100px -6.66667px #ff008c;
  border-radius: 50%;
  width: 5px;
  height: 5px;
}

.pyro > .after {
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
}

@-webkit-keyframes bang {
  from {
    box-shadow:
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white;
  }
}
@-moz-keyframes bang {
  from {
    box-shadow:
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white;
  }
}
@-o-keyframes bang {
  from {
    box-shadow:
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white;
  }
}
@-ms-keyframes bang {
  from {
    box-shadow:
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white;
  }
}
@keyframes bang {
  from {
    box-shadow:
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white,
      0 0 white;
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }

  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }

  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }

  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }

  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-moz-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }

  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }

  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }

  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }

  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-o-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }

  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }

  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }

  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }

  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-ms-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }

  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }

  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }

  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }

  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }

  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }

  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }

  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }

  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
